<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
       @for (mensaje of firebaseService.mensajes; track $index){
        <ion-item>{{mensaje.child('mensaje').val()}}</ion-item>
       }
    </ion-list>
    <ion-input [(ngModel)]="mensaje"></ion-input>
    <ion-button (click)="enviar()">Enviar</ion-button>
  </div>
</ion-content>
